.cart-table .total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}

.cart-table button {
    margin: 5px;
}

.td-title {
    max-width: 40em;
}

.td-title span {
    display: inline-flex;
    max-width: 50%;
}